@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --container-padding-sm: 0.25rem;
  --container-padding-md: 0.5rem;
  --container-padding-lg: 0.75rem;
  --container-padding-xl: 1rem;

  --color-primary-50: oklch(0.5391 0.0511 82.9);
  --color-primary-100: oklch(0.9249 0.0187 103.44);
  --color-primary-200: oklch(0.8487 0.0342 97.76);
  --color-primary-300: oklch(0.7573 0.0526 97.54);
  --color-primary-400: oklch(0.6796 0.0647 94.21);
  --color-primary-500: oklch(0.6262 0.0623 91.04);
  --color-primary-600: oklch(0.5391 0.0511 82.9);
  --color-primary-700: oklch(0.4674 0.0414 74.87);
  --color-primary-800: oklch(0.4175 0.0323 64.91);
  --color-primary-900: oklch(0.3829 0.0266 60.04);
  --color-primary-950: oklch(0.2642 0.0186 59.73);

  --font-sans: "Inter Variable", "sans-serif";
  --font-mono: "CabinetGrotesk", "sans-serif";
}

@utility container {
  @apply mx-auto px-4 md:px-6  2xl:px-8;
}

@utility button-primary {
  @apply text-sm text-gray-100 font-medium py-2.5 px-5 rounded-full bg-gray-800 hover:bg-gray-600 transition cursor-pointer;
}
@utility button-secondary {
  @apply text-sm text-gray-800 font-medium py-2.5 px-5 rounded-full bg-gray-200 hover:bg-gray-300 transition cursor-pointer;
}

@utility button-provider {
  @apply flex gap-2 items-center w-full font-semibold justify-center  text-sm text-gray-800 py-3 px-6 rounded-full bg-gray-100 hover:bg-gray-200 transition;
}

@utility form-wrapper {
  @apply flex flex-col gap-5 mt-8;
}
@utility label-form {
  @apply text-sm text-gray-600 font-medium mb-1.5 block;
}
@utility input-form {
  @apply w-full text-sm bg-white rounded-md border border-gray-300 px-3 py-2 outline-none focus:border-primary-500 focus:ring-4 focus:ring-primary-500/10 transition-all placeholder:text-gray-400 text-gray-800;
}
@utility textarea-form {
  @apply w-full text-sm bg-white rounded-xl border border-gray-200 px-4 py-3 outline-none focus:border-primary-500 focus:ring-4 focus:ring-primary-500/10 transition-all placeholder:text-gray-400 text-gray-800 h-24 resize-none;
}

@utility radio-card-wrapper {
  @apply relative cursor-pointer rounded-xl border border-gray-200 bg-white p-4 transition-all hover:border-primary-200  has-checked:border-primary-500 has-checked:ring-4 has-checked:ring-primary-500/10;
}

@utility radio-card-input {
  @apply sr-only; /* Hide the default radio button */
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  @apply font-sans;
}

.heading-one {
  @apply text-3xl sm:text-4xl md:text-5xl text-gray-800 font-black;
}
.align-reponsive {
  @apply text-center lg:text-left;
}
.heading-two {
  @apply text-3xl text-gray-800 font-extrabold;
}

.paragraph {
  @apply text-gray-600 font-medium;
}
