@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --container-padding: 10rem;
  --container-padding-sm: 1rem;
  --container-padding-md: 1.25rem;
  --container-padding-lg: 1.5rem;
  --container-padding-xl: 1.75rem;

  --color-primary-50: oklch(0.5391 0.0511 82.9);
  --color-primary-100: oklch(0.9249 0.0187 103.44);
  --color-primary-200: oklch(0.8487 0.0342 97.76);
  --color-primary-300: oklch(0.7573 0.0526 97.54);
  --color-primary-400: oklch(0.6796 0.0647 94.21);
  --color-primary-500: oklch(0.6262 0.0623 91.04);
  --color-primary-600: oklch(0.5391 0.0511 82.9);
  --color-primary-700: oklch(0.4674 0.0414 74.87);
  --color-primary-800: oklch(0.4175 0.0323 64.91);
  --color-primary-900: oklch(0.3829 0.0266 60.04);
  --color-primary-950: oklch(0.2642 0.0186 59.73);

  --font-sans: "Inter Variable", "sans-serif";
  --font-mono: "CabinetGrotesk", "sans-serif";
}

@utility container {
  @apply mx-auto px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-16;
}

@utility button-primary {
  @apply font-mono text-xs text-neutral-100 font-extrabold uppercase tracking-widest py-3 px-6 rounded-full bg-neutral-800 hover:bg-neutral-600 transition cursor-pointer;
}
@utility button-secondary {
  @apply font-mono text-xs text-neutral-800 font-extrabold uppercase tracking-widest py-3 px-6 rounded-full bg-neutral-100 hover:bg-neutral-200 transition cursor-pointer;
}

@utility button-provider {
  @apply flex gap-2 items-center w-full justify-center font-mono text-xs text-neutral-800 font-extrabold uppercase tracking-widest py-3 px-8 rounded-full bg-neutral-100 hover:bg-neutral-200 transition;
}

@utility form-wrapper {
  @apply flex flex-col gap-4 mt-8;
}
@utility input-form {
  @apply w-full text-sm placeholder:text-sm sm:text-base sm:placeholder:text-base rounded-md border border-neutral-200 px-4 py-2 outline-0 focus:border-neutral-400 placeholder:text-neutral-400 text-neutral-700;
}

body {
  @apply font-sans;
}

.heading-one {
  @apply text-3xl sm:text-4xl md:text-5xl text-gray-800 font-black;
}
.align-reponsive {
  @apply text-center lg:text-left;
}
.heading-two {
  @apply text-3xl text-neutral-800 font-extrabold;
}

.paragraph {
  @apply text-neutral-600 font-medium;
}
